<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Acceuil </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <link th:href="@{/img/LogoDouane.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

        <link rel="stylesheet" th:href="@{/css/jquery.treetable.css}"/>
        <link rel="stylesheet" th:href="@{/css/jquery.treetable.theme.default.css}"/>

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.4.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <span class="d-none d-lg-block pt-5 pb-2"><img th:src=@{/img/LogoHelpDouane.png} alt="" width="200"></span>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">


            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2"
                          th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>
                            <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Administrateur</span>
                            <span th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Disptacher</span>
                            <span th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} OR ${#authorization.expression('hasRole(''ROLE_USER'')')}">Utilisateur</span>
                        </h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="ParamètreCompte.html">
                            <i class="bi bi-gear"></i>
                            <span>Paramètre de compte</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/login?logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Déconnexion</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->

<aside id="sidebar" class="sidebar" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
  <ul class="sidebar-nav mt-5" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " th:href="@{/home}">
        <i class="bi bi-grid"></i>
        <span>Acceuil</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/agent}">
        <i class="bi bi-list-task"></i>
        <span>Gérer Agent</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/hierarchie}">
                <i class="bi bi-list-task"></i>
                <span>Gérer Hierarchie</span>
            </a>
    </li>

   <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/post}">
        <i class="bi bi-chat-left-dots-fill"></i>
        <span>Gérer Poste</span>
      </a>
    </li><li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/problemeCateg}">
        <i class="bi bi-list-task"></i>
        <span>Liste Catégorie de problèmes</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{'/problemeList/'+'all'}">
        <i class="bi bi-list-task"></i>
        <span>Liste des problèmes existants</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{'/problemView/'+${#authentication.getPrincipal().getUsername()}}">
        <i class="bi bi-chat-left-dots-fill"></i>
        <span>Signaler problème</span>
      </a>
    </li>



    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-collection-fill"></i><span>Boîte de reception</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a th:href="@{'/problemRecep/'+${#authentication.getPrincipal().getUsername()}+'/'+'all'}">
            <i class="bi bi-circle"></i><span>Problèmes</span>
          </a>
        </li>
        <li>
          <a th:href="@{'/problemRepons/'+${#authentication.getPrincipal().getUsername()}}">
            <i class="bi bi-circle"></i><span>Réponses</span>
          </a>
        </li>
      </ul>
    </li><!-- End Boîte de reception -->

    
 
</aside>

<aside id="sidebar" class="sidebar" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">

    <ul class="sidebar-nav mt-5" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " th:href="@{/home}">
                <i class="bi bi-grid"></i>
                <span>Acceuil</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/problemeCateg}">
                <i class="bi bi-list-task"></i>
                <span>Liste Catégorie de problèmes</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/problemeList/'+'all'}">
                <i class="bi bi-list-task"></i>
                <span>Liste des problèmes existants</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/problemView/'+${#authentication.getPrincipal().getUsername()}}">
                <i class="bi bi-chat-left-dots-fill"></i>
                <span>Signaler problème</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-collection-fill"></i><span>Boîte de reception</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{'/problemRecep/'+${#authentication.getPrincipal().getUsername()}}">
                        <i class="bi bi-circle"></i><span>Problèmes</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/problemRepons/'+${#authentication.getPrincipal().getUsername()}}">
                        <i class="bi bi-circle"></i><span>Réponses</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Boîte de reception -->

        

        <li class="nav-item">
            <a class="nav-link collapsed"  th:href="@{/categorie}">
                <i class="bi bi-cursor-fill"></i>
                <span>Gérer Catégorie</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/fichPoste}">
                <i class="bi bi-cursor-fill"></i>
                <span>Gérer fiche de Poste</span>
            </a>
        </li>
</aside><!-- End Sidebar-->

<aside id="sidebar" class="sidebar" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} OR ${#authorization.expression('hasRole(''ROLE_USER'')')}">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " th:href="@{/home}">
                <i class="bi bi-grid"></i>
                <span>Acceuil</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/problemeCateg}">
                <i class="bi bi-list-task"></i>
                <span>Liste Catégorie de problèmes</span>
            </a>
        </li>
		
		<li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/problemeList/'+'all'}">
                <i class="bi bi-list-task"></i>
                <span>Liste des problèmes existants</span>
            </a>
        </li>
		
		<li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-collection-fill"></i><span>Boîte de reception</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{'/problemRecep/'+${#authentication.getPrincipal().getUsername()}+'/'+'all'}">
                        <i class="bi bi-circle"></i><span>Problèmes</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{'/problemRepons/'+${#authentication.getPrincipal().getUsername()}}">
                        <i class="bi bi-circle"></i><span>Réponses</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Boîte de reception -->
		


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{'/problemView/'+${#authentication.getPrincipal().getUsername()}}">
                <i class="bi bi-chat-left-dots-fill"></i>
                <span>Signaler problème</span>
            </a>
        </li>
    </aside>

<main id="main" class="main">

    <div class="pagetitle">
        <div class="pagetitle mt-5 mb-3">
            <h1> <i class="bi bi-diagram-3-fill" style="font-size: 35px;"></i>GESTION HIERARCHIE</h1>
        </div><!-- End Page Title -->
        <hr style="color: #E5C500; border:2px solid;">
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="search-bar">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <div class="row">
                        <div class="col-11">
                            <input type="text" class="form-control" name="query" placeholder="Rechercher"
                                   title="Enter search keyword">
                        </div>
                        <div class="col-1">
                            <button type="button" title="Search"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div><!-- End Search Bar -->
        </div>
        <div class="row mt-5">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item" th:each="hier: ${hierarListe}">
                    <h2 class="accordion-header" th:attr="id='headingOne' + ${hier.idHier}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                th:attr="aria-controls='collapse' + ${hier.idHier}, data-bs-target='#collapse' + ${hier.idHier}"
                                th:text="${hier.libelleHier}">
                        </button>
                        <input type="hidden" id="categorieId" th:value="${hier.idHier}">
                    </h2>
                    <div th:attr="id='collapse' + ${hier.idHier}, aria-labelledby='headingOne' + ${hier.idHier}"
                         class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table th:attr="id='treeTable' + ${hier.idHier}" class="table">
                                <thead>
                                <tr>
                                    <th>Sous Hierarchie</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-select" aria-label="Default select example"
                                            th:attr="id='sousCat' + ${hier.idHier}">
                                        <option value="0"></option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <input type="text" th:attr="id='sousCatAdd' + ${hier.idHier}" class="form-control"
                                           placeholder="nouveau sous hierarchie">
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-primary" th:data-parameter="${hier.idHier}"
                                            th:onclick="addSousHier(this.getAttribute('data-parameter'));">Ajouter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="row">
                <div class="col-4">
                    <input type="text" id="catAdd" class="form-control" placeholder="nouveau hierarchie a ajouté">
                </div>
                <div class="col-2">
                    <select class="form-select" aria-label="Default select example" id="typehier">
                        <option value="0"></option>
                        <option th:each="type :${typeHierListe}" th:value="${type.idType}"
                                th:text="${type.libelleType}"></option>
                    </select>
                    <button type="button" class="btn btn-primary mt-2" th:onclick="'javascript:addHier();'">
                        Ajouter</button>
                </div>
            </div>
        </div>
<!--
        <div class="row mt-2" style="margin-top:150px;">
            <div id="bs-treeetable" class="treetable">
                Chargement ...
            </div>
        </div>-->


    </section>

</main><!-- End #main -->
<!-- modal -->

<div class="modal fade" id="ModifHier" tabindex="-1">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <p><img th:src="@{/img/LogoHelpDouane.png}" class="pt-3" width="200" alt=""></p>
                <h4 style="color: #005a87;" class="mx-5"> <span
                        style="color: #E5C500; font-size: 45px;">M</span>odifier Hierarchie</h4>
                <button type="button sm-2" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <fieldset class="col-12 borderF">
                        <div class="form-group pt-2">
                            <label>Type Hierarchie:</label>
                            <select class="form-select" aria-label="Default select example" id="modifTypeHier">
                                <option value="0"></option>
                            </select>
                        </div>
                        <div class="form-group pt-2">
                            <label>Parent:</label>
                            <select class="form-select" aria-label="Default select example" id="modifParent" >
                                <option value="0"></option>
                            </select>
                        </div>

                        <div class="form-group pt-2">
                            <label>Nom Hierarchie:</label>
                            <input type="hidden" id="modifHierId">
                            <input class="form-control" placeholder="Fonction poste" id="modifHierLibel" required>
                        </div>

                        <button class="btn btn-default mt-5 createUser" th:onclick="'javascript:modifHier();'" >Modifier</button>
               

            </div>
        </div>
    </div>
</div>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<!-- Vendor JS Files -->
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>

<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
<script th:src="@{/js/jquery.treetable.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.edittreetable.js}"></script>
<script type="text/javascript">
    var selectedHierarchie = 0;


    var data = [{
        id: 1, name: "Cat 1", pid: 0
        },
        {
            id: 2, name: "sous 1", pid: 1
        },
        {
            id: 6, name: "sous 2", pid: 1
        },
        {
            id: 4, name: "sous sous 1", pid: 2
        },
        {
            id: 5, name: "sous sous sous 1", pid: 4
        },
        {
            id: 3, name: "Cat 2", pid: 0
        }];

    $("#bs-treeetable").bstreetable({
            data: data,
            maintitle: "Catégories",
            nodeaddCallback: function (data, callback) {
                alert(JSON.stringify(data));

                callback({id: 18, name: data.name, innercode: "ttttt", pid: data.pid});
            },
            noderemoveCallback: function (data, callback) {
                alert(JSON.stringify(data));
                //do your things then callback
                callback();
            },
            nodeupdateCallback: function (data, callback) {
                alert(JSON.stringify(data));
                //do your things then callback
                callback();
            }
        }
    );

    $(".accordion-item").each(function () {
        var idCat = $(this).children(".accordion-header").children("#categorieId").val(); //$("#categorieId").val();
        var urlString = "[[@{'/sousHierarchie/'}]]" + idCat;
        $.ajax({methode: "GET", url: urlString})
            .done(function (responseJson) {
                var sousCat = $("#sousCat" + idCat);
                $.each(responseJson, function (idx, soushierarchie) {
                    console.log(soushierarchie.dateFinHier);
                    if(soushierarchie.dateFinHier == null) {
                        $("#treeTable" + idCat).append("<tr data-tt-id=\"" + soushierarchie.idHier + "\" data-tt-parent-id=\"" + soushierarchie.idShier + "\">"+
                        "<td>" + soushierarchie.libelleHier + "</td>"+
                        "<td><button type=\"button\" class=\"btn btn-outline-primary btn-sm\" id=\"" + soushierarchie.idHier + "\" "+
                        "data-bs-toggle=\"modal\" onclick=\"getHier('" + soushierarchie.libelleHier + "', '" + soushierarchie.idShier + "', '"+idCat+"', '"+soushierarchie.idType+"', '"+soushierarchie.idHier+"')\" data-bs-target=\"#ModifHier\">Modifier</button>"+
                        "</td></tr>");
                    } else {
                        $("#treeTable" + idCat).append("<tr data-tt-id=\"" + soushierarchie.idHier + "\" data-tt-parent-id=\"" + soushierarchie.idShier + "\">"+
                        "<td style=\"background-color:#FF0000\">" + soushierarchie.libelleHier + "</td>"+
                        "<td><button type=\"button\" class=\"btn btn-outline-primary btn-sm\" id=\"" + soushierarchie.idHier + "\" "+
                        "data-bs-toggle=\"modal\" onclick=\"getHier('" + soushierarchie.libelleHier + "', '" + soushierarchie.idShier + "', '"+idCat+"', '"+soushierarchie.idType+"', '"+soushierarchie.idHier+"')\" data-bs-target=\"#ModifHier\">Modifier</button>"+
                        "</td></tr>");
                    }
                    $("<option>").val(soushierarchie.idHier).text(soushierarchie.libelleHier).appendTo(sousCat);
                });
                $("#treeTable" + idCat).treetable({
                    expandable: true,
                    initialState: "contracted",
                    clickableNodeNames: true,
                    indent: 30
                });
            })
            .fail(function () {
                //alert("Error get data");
            });
    });

    function modifHier() {
        var nameHier = $('#modifHierLibel').val();
        var parentHier = $('#modifParent').val();
        var typeHier = $('#modifTypeHier').val();
        var urlString = "[[@{'/modifHierarchie/'}]]" +  window.selectedHierarchie + '/' + nameHier + '/' + parentHier + '/' + typeHier ;

        $.ajax({methode: "GET", url: urlString})
            .done(function (responseJson) {
                location.reload();
            })
            .fail(function () {
                //alert("Error get data");
            });
    }

    function getHier(libHier, idParent, idCat, idType, idHier) {
        $('#modifHierLibel').val(libHier);
        window.selectedHierarchie = idHier;
        $('#modifParent').empty();
        $('#modifTypeHier').empty();
        var origine = document.getElementById('typehier');
        var options = origine.innerHTML;
        var cible = document.getElementById('modifTypeHier');
        options = cible.innerHTML + options;
        cible.innerHTML = options;
        cible.value = idType; 

        origine = document.getElementById('sousCat'+ idCat);
        options = origine.innerHTML;
        cible = document.getElementById('modifParent');
        options = cible.innerHTML + options;
        cible.innerHTML = options;
        cible.value = idParent;
    }

    function addSousHier(idCat) {
        var sousCatId = $("#sousCat" + idCat).val();
        var name = $("#sousCatAdd" + idCat).val();
        var urlString = "[[@{'/addSouHierarchie/'}]]" + idCat + '/'  + sousCatId + '/'  + name;

        $.ajax({methode: "GET", url: urlString})
            .done(function (responseJson) {
                location.reload();
            })
            .fail(function () {
                //alert("Error get data");
            });
    }

    function addHier() {
        var name = $("#catAdd").val();
        var type = $("#typehier").val();
        var urlString = "[[@{'/addHierarchie/'}]]" + name + '/' + type ;

        $.ajax({methode: "GET", url: urlString})
            .done(function (responseJson) {
                location.reload();
            })
            .fail(function () {
                //alert("Error get data");
            });
    }
</script>


</body>

</html>